.container {
    max-width: 1050px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 50px;
    background-color: #ffffffa4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.637);
    animation: fade-in 0.5s ease-out;
  }

  .container h1{
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin: 0 0 20px;
    padding: 10px;
    background-color: #005688;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(35, 50, 211, 0.61);
    animation: slide-down 0.5s ease-out;
}

.container p{
    font-size: 20px;
    font-weight: bold;
    color: #0b4c6ee3;
    margin: 20px 0 10px;
    text-align: justify;
}

  .container2 {
    width: 100%;
    background: #424d5e88;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.637);
  }

.cabecera{
    margin-top: 15px;
}

.cabecera .titulo{
    color: #005688;
    font-weight: 900;
}

.cabecera .texto1{
    color: #fdfdfd;
    font-weight: 800; 
}

.cabecera p{
    color: #fdfdfd;
    font-size: 15px;
    font-weight: 800; 
}

.cabecera a{
    color: #036aa1e3;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 800; 
}



.codigo{
    width: 40%;
    background: #000000bd;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: #ffffffb9;
    box-shadow: 0 0 10px rgba(15, 15, 15, 0.555);
}

pre {
    color: #ffffff;
    padding: 5px;
    font-weight: 600; 
}

pre .etiqueta{
    color: rgb(196, 108, 45);
}

pre .propiedad{
    color: rgb(61, 179, 179);
}

pre .valor{
    color:rgb(89, 172, 6);
}

.container2 li{
    font-size: 16px;
    line-height: 1.5;
    margin-left: 20px;
    text-align: justify;
    font-weight: 600; 
}

.logo1 {
    height: 40px;
    object-fit: contain;
  }

  .logo2 {
    width: 100px;
    object-fit: contain;
  }

  .enlace{
    text-align: center;
    background: #5f8fac79;

    margin-left: 40%;
    margin-right: 40%;
  }

  .container .enlace {
    transition: background 0.5s ease-out;
  }
  
  .container  .enlace:hover {
    background: #16406d;
  }

  .contAux{
    text-align:center;
    color: #16406d;
  }



  

  /* Animaciones */
  @keyframes slide-down {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }